<div class="text-center">
    <h1>Welcome</h1>
    <br>
    <a asp-controller="Employees" asp-action="Index" class="btn btn-info">Log In</a>
    <a asp-controller="Employees" asp-action="Register" class="btn btn-warning">Sign Up</a>
</div>