<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <style>
        .sidebar {
            height: 100%;
            width: 200px;
            position: fixed;
            top: 0;
            left: 0;
            padding: 20px;
        }

        .content {
            margin-left: 200px;
            padding: 20px;
        }
    </style>
</head>

<body>
    <div class="sidebar bg-secondary">
        <div class="dropdown text-center">
            <nav class="nav flex-column">
                <img class="img-fluid" src="https://riwi.io/wp-content/uploads/2023/07/Fondo-claro-logo.png" alt="">
                <hr>
                <a class="dropdown-item" asp-controller="Employees" asp-action="Main"><i class="fas fa-user-plus"></i>
                    Manage Users</a>
                <hr>
                <a class="dropdown-item" asp-controller="Employees" asp-action="Main"><i class="fas fa-user"></i>
                    User Info</a>
                <hr>
                <a class="dropdown-item" asp-controller="Employees" asp-action="History"><i class="fas fa-history"></i>
                    History</a>
                <hr>
                <br>
                <hr>
                <form asp-controller="Records" asp-action="CheckIn" method="post">
                    <button class="dropdown-item"><i class="fas fa-address-card"></i> Register Entry</button>
                </form>
                <hr>
                <a class="dropdown-item"><i class="fas fa-address-card"></i> Register Exit</a>
                <hr>
            </nav>
        </div>
        <form asp-controller="Employees" asp-action="Logout" method="post">
            <button type="submit" class="btn btn-danger btn-lg" style="position: absolute; bottom: 10px;"><i
                    class="fas fa-sign-out-alt"></i> Logout</button>
        </form>
    </div>
</body>