<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <style>
        .sidebar {
            height: 100%;
            width: 200px;
            position: fixed;
            top: 0;
            left: 0;
            padding: 20px;
        }

        .content {
            margin-left: 200px;
            padding: 20px;
        }
    </style>
</head>

<body>
    <div class="sidebar bg-secondary">
        <div class="dropdown text-center">
            <nav class="nav flex-column">
                <img class="img-fluid" src="https://riwi.io/wp-content/uploads/2023/07/Fondo-claro-logo.png" alt="">
                <hr>
                <a class="dropdown-item" asp-controller="Employees" asp-action="Main"><i class="fas fa-user-plus"></i>
                    Manage Users</a>
                <hr>
                <a class="dropdown-item" asp-controller="Employees" asp-action="Main"><i class="fas fa-user"></i>
                    User Info</a>
                <hr>
                <a class="dropdown-item" asp-controller="Records" asp-action="Index"><i class="fas fa-history"></i>
                    History</a>
                <hr>
                <br>
                <hr>
                <form asp-controller="Records" asp-action="CheckIn" method="post">
                    <button class="dropdown-item"><i class="fas fa-address-card"></i> Register Entry</button>
                </form>
                <hr>
                <form asp-controller="Records" asp-action="CheckOut" method="post">
                    <button class="dropdown-item"><i class="fas fa-address-card"></i> Register Exit</button>
                </form>
                <hr>
            </nav>
        </div>
        <form asp-controller="Employees" asp-action="Logout" method="post">
            <button type="submit" class="btn btn-danger btn-lg" style="position: absolute; bottom: 10px;"><i
                    class="fas fa-sign-out-alt"></i> Logout</button>
        </form>
    </div>

    <nav class="navbar" style="margin-left: 200px;">
        <div class="container">
            <h4 class="mt-1">Employee List</h4>
            <form asp-controller="Employees" asp-action="SearchMain" method="get">
                <div class="input-group">
                    <input class="form-control" placeholder="Search" name="searchString" aria-describedby="id">
                    <button class="btn btn-success" type="submit" id="id">Search</button>
                </div>
            </form>
        </div>
    </nav>

    <div class="content text-center">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var employee in Model)
                {
                    <tr>
                        <td>@employee.Name</td>
                        <td>@employee.LastName</td>
                        <td>@employee.Email</td>
                        <td>
                            <a class="btn btn-info" asp-controller="Employees" asp-action="DetailsMain" asp-route-id="@employee.Id"><i class="fas fa-info-circle"></i> Details</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>