@model Solucion.Models.Employee

<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card mt-4 bg-dark text-light" style="padding: 60px;">
                    <div class="text-center">
                        <h3>Sign Up</h3>
                    </div>
                    <hr>
                    <form asp-controller="Employees" asp-action="Register" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label class="form-label" asp-for="Name"></label>
                                    <input asp-for="Name" class="form-control" />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label class="form-label" asp-for="LastName"></label>
                                    <input asp-for="LastName" class="form-control" />
                                    <span asp-validation-for="LastName" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label class="form-label" asp-for="Email"></label>
                                    <input type="email" asp-for="Email" class="form-control" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label class="form-label" asp-for="Phone"></label>
                                    <input asp-for="Phone" class="form-control" />
                                    <span asp-validation-for="Phone" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label class="form-label" asp-for="Address"></label>
                                    <input asp-for="Address" class="form-control" />
                                    <span asp-validation-for="Address" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label class="form-label" asp-for="Password"></label>
                                    <input type="password" asp-for="Password" class="form-control" />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="hidden" asp-for="Role" class="form-control" value="Employee" />
                                    <span asp-validation-for="Role" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <input class="btn btn-success form-control" value="Sign Up" type="submit" name="submit" />
                        <hr>
                        <p>
                            Do you have an account?
                            <a class="text-decoration-none mt-1" asp-controller="Employees" asp-action="Index">Log
                                In</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>